.page-data
{
	width: auto;
	height: auto;
	background: #gray;
	border: 10px solid #gray;
	margin:10px 10px 10px 10px;
	border-bottom: 2px solid #black;
}

h3.comment-title
{
	height: 40px;
	line-height: 37px;
	font-size: 14px;
	margin: 0 5px 0 5px;
	color: #333;
	border-bottom: 2px solid #e1e1e1;

}
.comment-list
{
	height: auto;
	font-size: 13px;
	margin: 10px 5px 10px 5px;
	color: #555;
	border: 2px solid #e1e1e1;

}


